block config
	//- Correct base url pathing for this page
	- var baseUrl = '../'

extends ../_layouts/base
 
block content

	include ../_layouts/navigation

	section
		.container
			.row
				.twelve.columns.center
					h2 <br> Under Construction

	//- include ../_layouts/contribute
	include ../_layouts/footer
