body {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
}

a {
	color: #434343;
	text-decoration: none;
}

h2 {
	display: inline-block;
	margin: 25px auto 50px;
	padding: 15px 0px;
	border-bottom: 5px solid #3FC0AA;
	font-weight: 300;
}

section {
	border-bottom: 1px solid rgba(0,0,0,0.05);
}