.contributing {
	background-color: #D2F3EC;
	padding: 75px 0px 130px;

	@media screen and (max-width: 720px) {
    padding: 20px 0px 60px;
	}
	@media screen and (max-width: 480px) {
    padding: 10px 0px 50px;
	}
	.cont-button {
		margin: 25px auto 0px;
	}
}