.features {
	padding: 30px 0px 80px;
	background-color: #fff;
	color: #434343;
	@media screen and (max-width: 720px) {
    padding: 20px 0px 60px;
	}
	@media screen and (max-width: 480px) {
    padding: 0px;
	}
	
	.container {
		padding: 25px;
	}
}