.getting-started {
	padding: 50px 0px 130px;
	background-image:
	  radial-gradient(
	    #fafafa,
	    #D2F3EC
	  );
	@media screen and (max-width: 720px) {
    padding: 40px 0px 100px;
	}
	@media screen and (max-width: 480px) {
    padding: 20px 0px 50px;
	}
	.code-setup {
		padding: 30px 50px 40px;
		color: #2795EE;
		background-color: #fff;
		border-radius: 4px;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 5px 16px rgba(0, 0, 0, 0.06);
		-webkit-transition: box-shadow 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		-moz-transition: box-shadow 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transition: box-shadow 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		@media screen and (max-width: 720px) {
	    padding: 20px 30px 40px;
		}
	
		p {
			margin: 25px 0px 10px;
			color: #A0A1A7;
			font-size: 15px;
		}

		input {
			width: 100%;
			border: none;
			font-family: monospace, sans-serif;
			font-size: 1.5rem;
		}
	}
}