.getting-started {
	padding: 150px 0px 130px;
	background-image:
	  radial-gradient(
	    #fff,
	    #F5F6FA
	  );

	p {
		margin: 20px 0px 5px;
		color: #A0A1A7;
	}

	code {
		display: block;
	}

	input {
		width: 100%;
		border: none;
		font-family: monospace, monospace;
		font-size: 1em;
	}

	.code-setup {
		padding: 30px 50px 40px;
		color: #2795EE;
		background-color: #fff;
		//border: 1px solid #cfd6d9;
		border-radius: 3px;

		border-radius: 4px;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 5px 16px rgba(0, 0, 0, 0.06);
		-webkit-transition: box-shadow 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		-moz-transition: box-shadow 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transition: box-shadow 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}


}