.main {
	padding: 180px 0px 170px;
	background-image:
	  radial-gradient(
	    #fff,
	    #F5F6FA
	  );
	
	@media screen and (max-width: 480px) {
    padding: 120px 0px 70px;
	}
}
.main-header {
	font-size: 6.5rem;
	font-weight: 300;

	@media screen and (max-width: 720px) {
    font-size: 5rem;
	}
	@media screen and (max-width: 480px) {
    font-size: 3.2rem;
	}
}
.main-button {
	display: inline-block;
	margin: 0 auto;
	padding: 15px 50px;
	border-radius: 50px;
	text-decoration: none;
	background-color: #3FC0AA;
	color: #fff;
	font-size: 1.6rem;
	border-right: 2px solid #47BDA9;
	border-bottom: 2px solid #47BDA9;
	transition: background-color 300ms ease;
	background: #4ACEB7;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #4ACEB7), color-stop(100%, #3FC0AA));
	background: -webkit-linear-gradient(-75deg, #4ACEB7 1%, #3FC0AA 100%);
	background: -webkit-linear-gradient(315deg, #4ACEB7 1%, #3FC0AA 100%);
	background: linear-gradient(135deg, #4ACEB7 1%, #3FC0AA 100%);

	&:hover {
		background-color: #4ACEB7;
	}
}
.main-subtitle {
	margin: 25px auto;
	font-size: 1.8rem;
	color: rgba(0,0,0,0.6);

	@media screen and (max-width: 480px) {
    font-size: 1.6rem;
	}
}