//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || '../'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title React Boilerplate
  meta(name='description', content= 'React Boilerplate')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='language', content='en-us')
  meta(name='description', content='Quick setup for new performance orientated, offline–first React.js applications featuring Redux, hot–reloading, PostCSS, react-router, ServiceWorker, AppCache, FontFaceObserver and Mocha.')
  
  meta(name='og:title', content='React Boilerplate')
  meta(name='og:type', content='website')
  meta(name='og:url', content='http://reactboilerplate.com/')
  meta(name='og:description', content='Quick setup for new performance orientated, offline–first React.js applications featuring Redux, hot–reloading, PostCSS, react-router, ServiceWorker, AppCache, FontFaceObserver and Mocha.')

  meta(name="twitter:card" content="summary")
  meta(name="twitter:url" content="http://reactboilerplate.com/")
  meta(name="twitter:title" content="React Boilerplate")
  meta(name="twitter:description" content="Quick setup for new performance orientated, offline–first React.js applications featuring Redux, hot–reloading, PostCSS, react-router, ServiceWorker, AppCache, FontFaceObserver and Mocha.")
  meta(name="twitter:image" content="/images/reactboilerplate-screenshot.png")

  block stylesheets
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,300')
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59445007-3', 'auto');
    ga('send', 'pageview');
body
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  block content
    include ./navigation
  block scripts
    script(src= baseUrl + 'scripts/main.js')
</html>
