section.contributing
    .container
      .row
        .twelve.columns.center
          h2 Want to contribute?
      .row
        .eight.columns.offset-by-two
          p.center React Boilerplate is an evolving project. Our goal is to provide the most up to date React Boilerplate for anyone to use. If you have any ideas or suggestions, please contribute. 
      .row.center
        .four.columns.offset-by-four
          a(href='https://github.com/mxstbr/react-boilerplate/blob/master/CONTRIBUTING.md').main-button.cont-button Start Contributing