section.header
    header
      .container
        .row
          .twelve.columns
            nav.navigation
              ul
                li 
                  a(href="/") Home
                    span.nav-icon
                      include ../_images/svg/flag.svg
                li 
                  a(href="docs/") Docs
                    span.nav-icon
                      include ../_images/svg/document.svg
                  span.tool-tip Under Construction
                li 
                  a(href="https://github.com/mxstbr/react-boilerplate") Github
                    span.nav-icon
                      include ../_images/svg/github.svg