.button {
  font-size: 1.1em;
  display: inline-flex;
  align-items: center;
  padding: .35em 2em;
  height: 2em;
  white-space: nowrap;
  text-decoration: none;
  -webkit-touch-callout: none;
  user-select: none;
  outline: 0;
  font-family: var(--heading-font);
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 200ms ease-out, box-shadow 100ms ease-out;

  &:active {
    box-shadow: inset 0 0 0 .15em var(--light-red),
                inset .5em .15em 0 0 rgba(0,0,0,.1);
    text-shadow: .2em 0 0 rgba(0,0,0,.1);
  }
}

.button_default {
  padding-bottom: .35em; /* drop shadow changes apparent center of button */
  background-color: var(--red);
  box-shadow: inset 0 -.15em 0 0 var(--light-red);
  color: var(--white);
  &:active { padding-bottom: .3em; }
}

.button_outlined {
  background-color: transparent;
  color: var(--red);
  box-shadow: inset 0 0 0 .1em var(--red);

  &:hover, &:active {
    color: var(--white);
    background-color: var(--red);
  }
}

@media (max-width: 35rem) {
  .button_collapsable {
    justify-content: center;
    width: 2em;
    padding: .35em 0;
  }

  .button_collapsable .text { display: none }

  .button_collapsable .icon {
    margin-left: 0;
    margin-right: 0;
  }
}

.icon {
  height: 100%;
  width: auto;
  max-height: 2em;
  margin-left: -1.5em;
  margin-right: 1em;
}

.button:active .icon {
  filter: drop-shadow(.2em 0 0 rgba(0,0,0,.1));
}


