.card {
	margin-bottom: 40px;
	overflow: hidden;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 5px 16px rgba(0, 0, 0, 0.06);

	.card-header {
		background-color: #fafafa;
		background: #8e9eab; /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #fafafa , #f9f9f9); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #fafafa , #f9f9f9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border-bottom: 1px solid rgba(0,0,0,0.05);

		h3 {
			padding: 20px 0px;
			margin: 0;
		}
	}
	.card-body {
		text-align: left;
		padding: 18px 25px 8px;
		min-height: 200px;
		background-color: #fff;

		p {
			color: rgba(0,0,0,0.6);
		}
	}
}