.homePage {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  flex-shrink: 0;
  padding: 5rem 2rem;
  font-size: 1.35rem;
  text-align: center;
  color: var(--blue);
  background: url('./guilloche.svg?data-uri') center 15% / 57rem no-repeat,
              linear-gradient(to top, var(--light-blue), var(--white));
  box-shadow: inset 0 .75rem .75rem -.75rem rgba(0, 0, 0, .2),
              inset 0 -.75rem .75rem -.75rem rgba(0, 0, 0, .2);
}

.logo {
  margin-bottom: 2rem;
  fill: var(--brown);
  width: 95%;
  max-width: 28rem;
}

.header p {
  max-width: 28rem;
  margin: 0 auto;
}

.nav {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: .75rem;
  font-size: 1.15rem;
}

.content {
  padding: 3rem 2rem;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto auto;
}

.content, .nav {
}
