.homePage {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  padding: 5rem;
  text-align: center;
  color: var(--blue);
  background: linear-gradient(to top, var(--light-blue), var(--white));
  box-shadow: inset 0 .75rem .75rem -.75rem rgba(0, 0, 0, .2),
              inset 0 -.75rem .75rem -.75rem rgba(0, 0, 0, .2);
}

.header h1 {
  font-family: 'Futura PT';
  font-weight: normal;
  font-size: 3rem;
  color: var(--brown);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: .75rem;
}

.content {
  padding: 3rem 2rem;
  flex-grow: 1;
}

.content, .nav {
}
