.homePage {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  background-color: var(--light-blue);
  padding: 5rem;
  text-align: center;
  color: var(--blue);
}

.header h1 {
  font-family: 'Futura PT';
  font-weight: normal;
  font-size: 3rem;
  color: var(--brown);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: .75rem;
}

.content {
  padding: 3rem 2rem;
  flex-grow: 1;
}

.content, .nav {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 .75rem rgba(0, 0, 0, .2);
}
