/* Global styles */

:global(:root) {
  --brown: #715c57;
  --blue: #7d93aa;
  --light-blue: #dae6f1;
  --red: #d77158;
  --light-red: #f0af9f;
  --white: #fafcff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Tisa Sans Pro';
}

:global #app {
  background-color: var(--white);
  color: var(--brown);
  min-height: 100%;
  min-width: 100%;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
