
.gettingStarted {
  margin: .5rem 0;
  color: var(--white);
}

.header {
  border-radius: .25rem .25rem 0 0;
  background-color: var(--red);
  padding: .25rem;
  border-bottom: .1rem solid var(--light-red);
}

.title {
  font-family: 'Futura PT';
  letter-spacing: .05rem;
  font-weight: normal;
  font-size: 1.2rem;
	text-align: center;
}

.steps p + .codeBlock { margin-top: .25rem; }
.steps .codeBlock + p { margin-top: 1rem; }

.content {
  border-radius: 0 0 .25rem .25rem;
  padding: 1rem;
  background-color: var(--brown);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.code {
	color: var(--white);
}

.codeBlock {
	display: block;
	font-size: .85em;
	line-height: 1rem;
	padding: .5rem .75rem;
	border-radius: .25rem;
  background-color: rgba(250, 252, 255, .1); /* light blue */
}

.codeBlock:before {
	color: var(--light-red);
	content: '$';
	margin-right: .25rem;
}

.closingStatement {
	color: var(--light-red);
	margin-top: 1rem;
	font-size: 1.05rem;
}

